:root {
    --text-color: #333;
}

html {
    margin: auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrapper {
    display: flex;
    margin-left: 16px;
}

.header__img {
    height: 50px;
    margin: 0 16px;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__navbar-items {
    margin: 0 16px;
}

.header__navbar-items-link {
    text-decoration: none;
    color: black;
    padding: 8px;
    transition: all 0.2s ease;
}

.header__navbar-items-link:hover {
    text-shadow: 0 0 10px black;
}


/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #333 inset; 
}

.about__desc {
    padding: 0 16px;
}

.about__img {
    float: right;
}


/* Project Section */
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__article-wrapper {
    width: 100%;
    display: grid;
    gap: 50px;
}

.article__img {
    height: 100px;
    width: 200px;
}



.article__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.article__title {
    margin: 0;
}

.article__img {
    background-size: contain;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #333;
    margin: 8px 0;
    width: 350px;
    height: 200px;
}

.article__desc:active {
    color: aliceblue;
}

/* Experience */
.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Video */
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 4px #333;
}

.contact__form {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 4px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input[type=email] {
    width: 100%;
    padding: 4px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input[type=button] {
    width: 100px;
    margin: 8px 0;
    padding: 8px;
    align-self: flex-end;
}




/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    border-top: 1px solid black;
    color: #666;
}



.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list-items-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.footer__list-items-link:hover {
    opacity: 0.7;
}
.footer__list-items-link:active {
    color: aliceblue;
}

.social-icons {
    margin: 0 8px;
}


/* Mobile first design */
@media screen and (max-width: 739px) {
    .container {
        width: 100%;
    }

    .header__img {
        display: none;

    }

    .header__wrapper {
        display: none;
    }

    .navbar__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__btn-icon {
        margin: 8px;
    }

    .navbar-wrapper {
        display: none;
    }

    /* About Mobile */
    .about__img {
        height: 150px;
    }

    /* Blog */

    .blog__article-wrapper {
        grid-template: auto / auto;
        place-content: center center;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .navbar__btn {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__wrapper {
        display: none;
    }

    .navbar-wrapper {
        display: block;
    }

    /* Blog */

    .blog__article-wrapper {
        grid-template: auto auto / auto auto;
        place-content: center center;
    }

}

/* Desktop */
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }

    .header {
        border-bottom: 1px solid #333;
    }

    .navbar__btn {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__img, .header__title, .navbar-wrapper {
        display: block;
    }

    .blog__article-wrapper {
        grid-template: auto auto / auto auto;
        justify-content: space-evenly;
    }

}